@{
    ViewBag.Title = "Sin permiso";
    Layout = "~/Views/Shared/_Layout2.cshtml"; // Asegúrate de ajustar esto según tu estructura de layout
}

<h2>No tiene permiso para acceder a esta página</h2>

<p>Lo sentimos, usted no tiene permiso para acceder a la página solicitada.</p>

